.tag {
  display: inline-block;
  height: auto;
  margin-inline-end: 9px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-inline: 7px;
  white-space: nowrap;
  background: rgba(0,0,0,.02);
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  opacity: 1;
  transition: all .2s;
  text-align: start;
  font-size: 16px;

  @media (max-width: 590px) {
    font-size: 14px;
  }
}
