
.about {
  height: 100%;
  min-height: 100vh;
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
  box-sizing: border-box;

  @media (max-width: 590px) {
    padding: 10px 10px;
  }
}

.about__head {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 70px;

  @media (max-width: 590px) {
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
}

.about__head_start {
  margin-bottom: 45px;
  margin-right: -20px;

  > span {
    display: block;
    rotate: 270deg;
    font-size: 30px;
  }

  @media (max-width: 590px) {
    display: none;
  }
}

.about__head_photo {
  width: 320px;
  height: 320px;
  border-radius: 10px;
  object-fit: cover;

  @media (max-width: 590px) {
    width: 260px;
    height: 260px;
  }
}

.about__head_block {
  margin-left: 40px;

  a {
    text-decoration: underline;
  }

  p {
    margin: 4px 0;
  }

  @media (max-width: 590px) {
    margin-left: 0;
  }
}

.about__data {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;

  @media (max-width: 590px) {
    flex-direction: column;
  }
}

.about__section {
  width: 48%;

  @media (max-width: 590px) {
    width: 100%;
  }
}

.about__section_block {
  margin: 15px 0;

  a {
    text-decoration: underline;
  }

  p {
    margin: 4px 0;
  }
}
