
.home {
    height: 100%;
    min-height: 100vh;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
}

.home__head {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 70px;
}

.home__head_start {
    margin-bottom: 35px;
    margin-right: -10px;

    > span {
        display: block;
        rotate: 270deg;
        font-size: 30px;
    }
}

.home__head_photo {
    width: 300px;
    height: 400px;
    margin-right: 20px;
    border: 1px solid black;
}

.home__head_block {

    a {
        text-decoration: underline;
    }

    p {
        margin: 4px 0;
    }
}

.home__data {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.home__section {
    width: 48%;
}

.home__section_block {
    margin: 15px 0;

    a {
        text-decoration: underline;
    }

    p {
        margin: 4px 0;
    }
}
