html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

#__next {
  display: flex;
  flex-direction: column;
}

.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.column {
  width: 45%;
  flex-shrink: 0;
  margin-bottom: 8px;
  margin-right: 8px;

  @media (max-width: 720px) {
    width: 100%;
  }
}

#nprogress {
  .bar {
    background: #000;
    height: 4px;
  }

  .peg {
    box-shadow: 0 0 10px #000, 0 0 5px #000;
  }
}
